<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imputation.jobs.practice.mapper.FileChunkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imputation.jobs.practice.entity.FileChunk">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="update_time" property="updateTime" />
        <result column="add_time" property="addTime" />
        <result column="chunk_number" property="chunkNumber" />
        <result column="chunk_size" property="chunkSize" />
        <result column="current_chunk_size" property="currentChunkSize" />
        <result column="total_chunks" property="totalChunks" />
        <result column="identifier" property="identifier" />
        <result column="file_name" property="fileName" />
        <result column="file_type" property="fileType" />
        <result column="relative_path" property="relativePath" />
    </resultMap>

</mapper>
